In [1]:
import pandas as pd
import pprint as pprint

In [2]:
d = {'Ticker':[], 'date':[], 'sector':[],'name':[],'opening':[],'closing':[],'next_Opening': []}
tdf = pd.DataFrame(d)
# ,'next_Opening': [3]
tdf

Empty DataFrame
Columns: [Ticker, date, sector, name, opening, closing, next_Opening]
Index: []

In [3]:
data = pd.read_json('../data/stockinfo3.json')
test_df = pd.DataFrame(data)
test_df

,Ticker,name,sector,opening,closing
0,MMM,3M Company,Industrials,"[[2021-07-01, 199.45], [2021-06-30, 195.9], [2...","[[2021-07-01, 199.09], [2021-06-30, 198.63], [..."
1,ABT,Abbott Laboratories,Health Care,"[[2021-07-01, 115.61], [2021-06-30, 117.0], [2...","[[2021-07-01, 117.16], [2021-06-30, 115.93], [..."
2,ABBV,AbbVie Inc.,Health Care,"[[2021-07-01, 112.95], [2021-06-30, 112.21], [...","[[2021-07-01, 114.26], [2021-06-30, 112.64], [..."
3,ABMD,Abiomed,Health Care,"[[2021-07-01, 311.02], [2021-06-30, 314.37], [...","[[2021-07-01, 312.91], [2021-06-30, 312.11], [..."
4,ACN,Accenture,Information Technology,"[[2021-07-01, 295.48], [2021-06-30, 295.99], [...","[[2021-07-01, 300.0], [2021-06-30, 294.79], [2..."
...,...,...,...,...,...
498,YUM,Yum! Brands Inc,Consumer Discretionary,"[[2021-07-01, 115.49], [2021-06-30, 115.44], [...","[[2021-07-01, 116.01], [2021-06-30, 115.03], [..."
499,ZBRA,Zebra Technologies,Information Technology,"[[2021-07-01, 530.0], [2021-06-30, 535.82], [2...","[[2021-07-01, 532.02], [2021-06-30, 529.49], [..."
500,ZBH,Zimmer Biomet,Health Care,"[[2021-07-01, 161.5], [2021-06-30, 160.64], [2...","[[2021-07-01, 163.14], [2021-06-30, 160.82], [..."
501,ZION,Zions Bancorp,Financials,"[[2021-07-01, 53.69], [2021-06-30, 52.27], [20...","[[2021-07-01, 53.82], [2021-06-30, 52.86], [20..."
502,ZTS,Zoetis,Health Care,"[[2021-07-01, 187.0], [2021-06-30, 188.11], [2...","[[2021-07-01, 189.29], [2021-06-30, 186.36], [..."

In [ ]:

count = 378
p=0
for d in data['Ticker'].unique():
    x = data['opening'][p] #pulls opening price list for the currently selected company
    y = data['closing'][p] #pulls closing price list for the currently selected company
    k = 0 #counts through the stock prices in the next for loop
    for i in x:
        try:
            date = x[k][0]
            opening = x[k][1]
            closing = y[k][1]
            ticker = data['Ticker'][p]
            name = data['name'][p]
            sector = data['sector'][p]
            k+=1
            next_opening = x[k][1]
            tdf = tdf.append({'Ticker': ticker,
                                'date': date,
                                'sector': sector,
                                'name': name,
                                'opening': opening,
                                'closing': closing,
                                'next_Opening': next_opening}, ignore_index=True)
        except:
            pass


    
    p+=1

In [ ]:
tdf